@tailwind base;
@tailwind components;
@tailwind utilities;

/* btn */
.btn{
  @apply px-4 py-1 text-2xl text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2 mt-2;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  /* font-family: Montserrat, Helvetica, Arial, sans-serif; */
  font-size: 1.6rem;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
header {
  grid-area: header;
  background-color: #346290;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #767e86;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}